* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


html {
  font-size: 14px;  
  font-family: "Red Hat Display", sans-serif;
}

.hide{
  display: none;
}

img{
  max-width:100%;
}
h1, h2, h3, h5, h6{
font-family: "Dosis", sans-serif;

}

h3, h4, h5, h6{
font-family: 'Tilt Neon', sans-serif;
}

h1{
  text-align: center;
  font-size: 1.85em;
  margin:0;
  color:#2d474c;
}

h2{
  margin:5px 0 5px 0;
  font-size:1.7em;
  text-align: center;
  margin-bottom:20px;
}

h3{
  margin:0px 0 10px 0;
  font-size:1.2em;
  font-size:1.5em;
  text-align: center;
}
h4{
  margin-top:0;
  font-size:1.2em;
  text-align: center;
}

h5{
  margin:0;
  font-size:1.1em;
}
p{
  margin:15px;
}

a {
  color: #1a2a2d;
  letter-spacing: 1px;
  text-decoration: none;
}
a:hover {
  opacity: 0.75;
}


ul {
  margin: 0;
  padding: 15px;
}
ul li{
  margin-bottom:4px;
}


header{
  /* position: fixed; */
  margin-bottom: 2em;
  background-color:#b8cdd2;
  padding: 20px;
  background: rgb(158,188,194);
  background: radial-gradient(circle, rgba(158,188,194,1) 0%, rgba(122,151,154,1) 51%, #5b7c7e 100%);
}

.search-container{
  width: 60%;
  width: 60vw;
  display: block;
  margin: 0 auto;
}

#searchQuery{
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
}
#searchForm{
  display: flex;
  gap:15px;
  padding:20px;
}
#search-button{
  padding:5px 10px; 
}


/****** Main starts *******/

#wrapper{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 98vw;
  max-width: 1290px;
  margin:0 auto;
}

#errorContainer{
  padding:5vw 10vw;
}

#startGrid {
  display: flex;
  flex-wrap: wrap;
}


#startGrid div {
  width: 15vw;
  flex-grow: 1;
}
#startGrid div img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


/************ SEARCH RESULT **********/

#resultContainer {
  /* width: 50vw; */
  /* width: 50%; */
  /* max-width: 900px; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap:10px 10px;
  justify-content: space-evenly;
  /* background-color:aliceblue; */
}

#resultContainer article{
  background-color: #f0f4f4;
  padding:10px 0 10px 0;
  border:1px solid #e4e2e2;
  width:49%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

#resultContainer article:hover{
  opacity: 0.90;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}



/***** Pages buttons *****/

#prevPage, #nextPage{
  display:none;
}

#pageButtons {
  display:flex; 
  margin: 20px 0px 0 0px;
  justify-content: space-between;

}


#pageButtons button{
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  touch-action: manipulation; 
}

#pageButtons:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.faded{
  opacity: 0.1;
}


/***** MOVIE LISTS ******/

#movieListContainer{
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#movieListContainer article{
  font-size: 1.1em;
  padding-bottom:10px;
  background-color: #f0f4f4;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

#movieListContainer article:hover{
  opacity: 0.70;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}


#movieListContainer article h3{
  font-size: 1.1em;
  white-space: wrap;
  width:0;
  min-width:100%;

}
#movieListContainer article p{
  font-size: 0.9em;
  margin:8px;
}
#movieListContainer article img{
 padding-bottom:10px;
}

.flex-article{
  display:flex;
  flex-direction: row !important;
  /* align-items: center; */
  justify-content: space-evenly;
}
.flex-article > div{
  width:45%;
  letter-spacing: 1px;
} 
.flex-article div > div{
  text-align: center;
  margin:30px 0 25px 0;
} 

.medium{
  font-weight: 700;
}


/***** MOVIE DETAILS  **************/

#movieDetailsContainer{
  display:flex;
  flex-direction: column;
  justify-content:center;
  gap:15px;
  background-color: #f0f4f4;
  /* max-width:910px; */
}

.movieInfo{
  display:flex;
  justify-content:center;
  gap:20px;
}

.factsContainer{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap:10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin:0 0 10px 0;

}

.movieInfo p {
  margin:1em 0 1em 0;
}
.genresContainer{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap:10px;
  
}


.movieInfo > div:first-child {
  max-width: 450px; 
}
.movieInfo > div:nth-child(2) {
  margin-top: 15px;
  padding-right:15px;
  /* padding-bottom:5px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.movieInfo > div:nth-child(2) > img {
  padding-right:-10px;
  width:100%;
}

.movieInfo h4{
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  font-style:italic;
  margin-bottom:20px;
}
.movieInfo h5{
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  font-style:italic;
}
.movieInfo h6{
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  text-align: left;
}


/***** Cast *****/
.movieCast {
  border-top:1px solid #ccc;
}
.castContainer  {
  display: flex;
  justify-content:space-between;
  gap:10px;

  padding:30px;
}

/* .castContainer2 ul {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
} */

.castContainer2 {
  padding:15px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 8px;
  /* border:1px solid #ccc; */
  /* grid-template-rows: repeat(300px, auto-fit); */
  /* padding:10px;
  font-size:0.9em;
  line-height: 1.9em; */
}

/* .castContainer2 div {
  width:10%;
} */


.movieCast h4{
  margin:20px 0 0px 0;
}

.castContainer h5{
  font-size: 1.1em;
}
.castContainer p{
  margin:5px 0 10px 0;
}





/***** Aside ****/

aside{

  background-color:#7a979a;
  width:40vw;
  max-width: 300px;
  display: block;
  padding:10px;
  color:#fff;
}

#movie-list-buttons{
  display: flex;
  align-items: center;  
  justify-content: center;
  flex-direction: column;
  gap:20px;
}

#buttonTopRated, #buttonPopular  { 
  font-family: "Dosis", sans-serif;
  background-repeat: no-repeat;
  width: 235px;
  height: 130px;
  background-size: cover;
  color:aliceblue;
  font-size: 2rem;
  border:none;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgb(124, 113, 14), 0 0 1em rgb(1, 1, 7), 0 0 0.2em rgb(1, 1, 32);
} 

#buttonTopRated:hover, #buttonPopular:hover { 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  opacity: 0.75;
  cursor: pointer;
} 




.main-footer{
  background-color:aliceblue;
  background-color:aliceblue;
  background-color:#93bac9;
  background-color:#b8cdd2;
  padding: 20px;
  margin-top:20px;
  color:  #2d474c;
  text-align: center;
  background: rgb(158,188,194);
  background: radial-gradient(circle, rgba(158,188,194,1) 0%, rgba(122,151,154,1) 51%, rgba(91,124,126,1) 100%);
  color:#2d474c;

}

.main-footer a{
  color:#2d474c;
  letter-spacing: 1px;
}



/********************* MEDIA QUERIES ********************/

@media only screen and (max-width: 650px){
  /* #movie-lists-choice {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
  } */

}
